# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Renviron
.Rprofile

# Large Data Files
*.rds
*.csv
*.parquet
*.duckdb
data/
scratch/
WriteUp/

# Targets
_targets/
_targets.user/

# Python
.venv/
__pycache__/
*.pyc

# ML Artifacts
*.ckpt
lightning_logs/
models/

# OS
.DS_Store

# Images
*.png
*.svg

# LaTeX and Build Artifacts
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf
*.html
*.tex
*.bib
*.bst
*.cls
*.RProj

# Quarto / Presentation Build Artifacts
.quarto/
*_files/
*_cache/
*.yml
*.scss
*.qmd
Presentation/Presentation.qmd

README