# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Renviron
.Rprofile

# Large Data Files
*.rds
*.csv
*.parquet
*.duckdb
data/

# Targets
_targets/
_targets.user/

# Python
.venv/
__pycache__/
*.pyc

# ML Artifacts
*.ckpt
lightning_logs/

# OS
.DS_Store

# Presentations
Presentation/
